@import '../../../styles/settings.scss';

.footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: calc(100% - $m32*4);
    will-change: auto;
    animation-delay: 2s;
    padding: $m16 0;
    @include link;
    @include fadeIn(1s);
    ul{
        display: flex;
        gap: $m32;
        li{
            overflow: hidden;
            img{
                position: relative;
                left: -$m16;
                top: $m32;
                transition: .7s ease-in-out;
                will-change: auto;
            }
            &:hover img{
                transition: .7s ease-in-out;
                left: 3px;
                top: 4px;
                will-change: auto;
            }
        }
        
    }
}


@media screen and (max-width:768px){
    .footer{
        justify-content: center;
        width: calc(100% - $m32*2);
        background: $background;
        ul:last-child{
            display: none;
        }
        ul{
            gap: $m16;
        }
    }
}