@import '../../styles/settings.scss';

.container__projectDetail {
    padding-top: $m150;
    display: grid;
    grid-column: 2 / -2;
    &--highlight {
        display: grid;
        margin-bottom: $m16;
        width: 100%;
        h1 {
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: $m8;
            font-weight: 500;
        }
        h2, h3{
            @include link
        }
    }
    &--medium{
        display: flex;
        gap: $m16;
        &__image{
            width: 645px;
            height: 450px;
            animation: fadeImage .5s ease-in-out;
            img{
                width: inherit;
                height: inherit;
                object-fit: cover;
            }
        }
        &__info{
            width:auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .info{ 
                &__button{
                    width: 100%;
                    margin-top: $m50;
                    display: flex;
                    justify-content: space-between;
                    gap: $m16;
                    a{
                        width: inherit;
                    }
                    .btn{
                        width: inherit;
                    }
                }
            }
        }
    }
    &--navigation{
        .navigation{
            margin-top: $m8;
            display: flex;
            gap: $m16;
        }
    }
}

@media screen and (max-width: 768px) {
    .container__projectDetail{
        display: flex;
        flex-direction: column;
        grid-column: 1/-1;
        &--medium{
            flex-wrap: wrap;
            &__image{
                width: 100%;
                margin-bottom: $m32;
                width: 320px;
                height: 215px;
            }
            &__info{
                .description{
                    margin-bottom: $m16;
                }
                .info{
                    &__button{
                        margin-bottom: $m64;
                    }
                }
            }
        }
        &--navigation{
            display: none;
        }
    }
}

@keyframes fadeImage {
    0% {
        transform: translateY($m64);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}