@import '../../styles/settings.scss';

.container__projectList{
    grid-column: 2/-2;
    margin-top: $m150;
}

@media screen and (max-width:768px){
    .container__projectList{
        grid-column: 1/-1;
        margin-top: calc($m100*1.8);
    }
}