@import '../../../styles/settings.scss';

.container__item{
    display: flex;
    margin-bottom: $m8;
    text-transform: uppercase;
    font-size: 0.75rem;
    h4{
        width: 120px;
        font-weight: 500;
    }
    p{
        font-weight: 300;
    }
}

@media screen and (max-width: 768px) {
    .container__item{
        p{
            font-size: 0.65rem;
        }
    }
}