@import '../../../styles/settings.scss';

.asideHero__container{
    position: fixed;
    top: $m50;
    left: $m64;
    display: grid;
    grid-column: 1 / 2;
    p{
        @include link;
    }
}

@media screen and (max-width: 768px){
    .asideHero__container{
        left: $m32;
    }
}