@import '../../../styles/settings.scss';

.container__projectPreview{
    grid-column: 2/-2;
    display: flex;
    justify-content: center;
    margin-bottom: calc($m100*2);
    &--info{
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: $m8;
        margin-right: $m16;
        text-transform: uppercase;
        &__highlight{
        display: flex;
        justify-content: space-between;
        p, h2{
            @include hightBody
        }

        }
        h3{
            text-align: end;
            font-size: 0.75rem;
            font-weight: 500;
        }
    }
    &--image{
        display: flex;
        gap: 20px;
        overflow: hidden;
        &::-webkit-scrollbar {
            width: 0; /* Safari et Chrome */
        }
        img{
            width: 180px;
            height: 180px;
            object-fit: cover;
            transition: .8s ease-in-out;
            animation-delay: 0.5s;
            &:hover{
                transform: scale(1.05);
                transition: .8s ease-in-out;
            }
        }
    }
}



@media screen and (max-width:768px){
    .container__projectPreview{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        width: 100%;
        overflow: hidden;
        margin-bottom: $m100;
        gap: $m32;
        &--info{
            width: 170px;
            &__highlight{
                align-items: center;
            }
            h3{
                font-size: .625rem;
            }
        }
        &--image{
            overflow: scroll;
            gap: $m8;
            padding-left: $m32;
            img{
                min-width: calc($m100*1.25);
                height: calc($m100*1.25);
            }
        }
    }
}